<html>
    <header>
        <title>Ecoswap - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
                {% block extra_header_contents %}{% endblock %}
    </header>
    <body>
        <div id="menu">
            <h1>Ecoswap</h1>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/products">Products list</a></li>
                <li><a href="/new_category">Add a category</a></li>
                <li><a href="/new_product">Add a product</a></li>
                <li><a href="/products_for_category">Products for a category</a></li>
                <li><a href="/register">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <hr>
                <ul id = "warning">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block body %}
        {% endblock %}
    </body>
</html>
