{% extends "base.html" %}

{% block body %}
    <h1>Delete a category</h1>
        <form action="./delete_category" method="POST" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.name.label }}<br>
                {{ form.name(size=32) }}
                {% for error in form.name.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
            <p>{{ form.submit() }}</p>
        </form>
{% endblock %}
